<div class="col-xs-8" id="users-content">
	<div class="user-info">
		<% if notice %>
			<!-- ここでflashを表示してます -->
			<div class="alert alert-info"><%=notice%></div>
		<% end %>
		<span class="user-name">
			<%= @user.email %>
		</span>
	</div>
	<ul class="nav nav-tabs nav-justified">
		<li {class: action_name == "show" ? "active" : nil}>
			<%= link_to user_path(@user) do %>
				<div class="text"> つぶやき </div>
				<div class="num"> <%= Tweet.where(user_id: @user.id).count %> </div>
			<% end %>
		</li>
		<li {class: action_name == "favorites" ? "active" : nil}>
			<%= link_to favorites_user_path(@user) do %>
				<div class="text"> お気に入り </div>
				<div class="num"> <%= @user.favorites.count %> </div>
			<% end %>
		</li>
		<li {class: action_name == "follows" ? "active" : nil}>
			<%= link_to follows_user_path(@user) do %>
				<div class="text"> フォロー </div>
				<div class="num"> <%= @user.followings.count %> </div>
			<% end %>
		</li>
		<li {class: action_name == "followers" ? "active" : nil}>
			<%= link_to followers_user_path(@user) do %>
				<div class="text"> フォロワー </div>
				<div class="num"> <%= @user.followers.count %> </div>
			<% end %>
		</li>
	</ul>
	<div class="list-group">
    <% if @user.favorites.empty? %>
    	<div class="list-group-item">
      	<div class="tweet-content">
        	<p> まだお気に入りを登録した投稿はありません。</p>
      	</div>
    	</div>
  	<%end%>
		<% @user.favorites.map { |f| f.tweet }.each do |tweet| %>
			<div class="list-group-item">
				<h4 class="user">
					<span class="user-name">
					  <%= link_to tweet.user.email, user_path(tweet.user) %>
					</span>
					<span class="time pull-right">
						<%= distance_of_time_in_words_to_now(tweet.created_at) %>
					</span>
					<div class="clear"></div>
				</h4>
				<div class="tweet-content">
					<p> <%= tweet.body %> </p>
					<% if tweet.image? %>
						<%=  image_tag tweet.image.url%>
					<% end %>
					<div class="content-footer">
						<% if tweet.favorited_by? current_user %>
							<%= link_to "⭐️", tweet_favorites_path(tweet), method: :delete %><%= tweet.favorites.count %>
						<% else %>
							<%= link_to "☆", tweet_favorites_path(tweet), method: :post %><%= tweet.favorites.count %>
						<% end %>
						<%if current_user.id == tweet.user.id %>
							&emsp;&emsp;<%= link_to '削除', tweet, method: :delete, data: { confirm: '本当に削除しますか？' } %>
						<%else%>
							<% if tweet.user.followed_by? current_user %>
								&emsp;&emsp;<%= link_to "フォロー解除", user_relationships_path(tweet.user), method: :delete %>
							<% else %>
								&emsp;&emsp;<%= link_to "フォロー", user_relationships_path(tweet.user), method: :tweet %>
							<% end %>
						<% end %>
					 </div>
				</div>
			</div>
		<%end%>
	</div>
</div>
