<div class="col-xs-8" id="users-content">
  <div class="list-group">
    <div class="list-group-item user-list">
      <h2>ユーザー 一覧</h2>
      <% @users.each do |user| %>
        <div class="list-group-item">
        	<h4 class="user">
			      <span class="user-name"> <%= link_to user.email, "/users/#{user.id}" %> </span>
			    </h4>
          ツイート：<%= Tweet.where(user_id: user.id).count %>
          &emsp;&emsp;⭐️： <%= user.favorites.count %>
          &emsp;&emsp;フォロー：<%= user.followings.count %>
          &emsp;&emsp;フォロワー：<%= user.followers.count %>
	      </div>
      <% end %>
    </div>
  </div>
</div>
